body{
    background-color: lavender;
}
#body-main{
    max-width: 1000px !important;
    margin: auto;
}
#v-pills-tab{
    height: 100% !important;
    padding: 10px 100px 100px 100px !important;
    background: url(images/bg-sidebar-desktop.svg)no-repeat bottom ;
    
}
#confirm{
    max-width: 300px;
}
@media screen and (max-width:768px) {
    #v-pills-tab{
        background: url(images/bg-sidebar-mobile.svg)no-repeat bottom !important;
        width: 400px;
        padding: 50px 70px !important;
    }
    #body-main{
        background-color: lavender !important;
        margin: 0 auto !important;
    }
    #v-pills-tabContent{
        position: relative;
        max-width: 350px;
        background: white;
        bottom: 40px;
        border-radius: 2%;
    }
    .card{
        display: flex !important;
        flex-direction: row !important;
    }
    #add-main .border{
        display: flex !important;
        flex-direction:column !important;
    }
}